body {
  margin: 0;
  font-family: Poppins;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.primary{
  color: #247DCD;
}

.secondary{
  color: #52a2d2;
}

.tertiary{
  color: #87ece5;
}
